@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font: 400 1rem/1.5 system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: inherit;
  vertical-align: baseline;
  word-break: normal;
  color: inherit;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
  overflow: visible;
}

hr:not([size]) {
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 initial 0.5rem;
  font: inherit inherit 500 unset/1.2 inherit;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem;
}

abbr[title],
abbr[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  font: normal inherit inherit/inherit inherit;
  margin: 0 0 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin: 0 0 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}

nav li {
  list-style: none;
  padding: 0;
}

nav li::before {
  content: "​";
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.2em;
  background-color: currentColor;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  cursor: pointer;
  color: #3333e1;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #3434e0;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:not([href]):not(class), a:not([href]):not([class]):hover {
  cursor: default;
  color: inherit;
  text-decoration: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

pre,
code,
kbd,
samp {
  font: 1.05em "Fira Code", "Cascadia Code", Consolas, "Inconsolata", Monaco, Menlo, "Noto Mono", "Roboto Mono", "Droid Sans Mono", "Ubuntu Mono", "Ubuntu Monospace", "Source Code Pro", "Oxygen Mono", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.875em;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: inherit;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: inherit;
  background-color: inherit;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0 0 1rem;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
  text-indent: 0;
  border-color: currentColor;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: inherit;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
  text-transform: none;
}

button:focus {
  outline: dotted 1px;
  outline: -webkit-focus-ring-color auto 5px;
}

input,
button {
  overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-transform: none;
  word-wrap: normal;
}

select:not([multiple]):not([size]) {
  background-image: "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E";
}

::-ms-expand {
  display: none;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(disabled),
[type="button"]:not(disabled),
[type="reset"]:not(disabled),
[type="submit"]:not(disabled) {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  resize: vertical;
  vertical-align: top;
}

fieldset {
  min-width: 0;
  padding: 0.35em 0.75em 0.625em;
  margin: 0;
  border: 1px solid inherit;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
  max-width: 100%;
  white-space: normal;
}

legend + * {
  clear: left;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

input::-webkit-input-placeholder {
  opacity: 1;
}

input::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder {
  opacity: 1;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-moz-ui-invalid {
  box-shadow: none;
}

::-moz-focusring {
  outline: 1px dotted ButtonText;
}

output {
  display: inline-block;
}

iframe {
  border: none;
}

audio,
canvas,
video {
  display: inline;
  display: inline-block;
  zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden="false"][hidden="false"] {
  display: initial;
}

[aria-hidden="false"][hidden="false"]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/*color*/
/*font*/
/*font size*/
/*font関連*/
img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Noto Sans JP", "Gadugi", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Meiryo UI", Verdana, Roboto, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.7;
  color: #000;
  margin: 0;
}

p {
  margin: 0 0 1.7em 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-weight: bold;
}

h3 {
  margin: 0;
  font-weight: bold;
}

h4 {
  margin: 0;
  font-weight: bold;
}

h5 {
  margin: 0;
  font-weight: bold;
}

h6 {
  margin: 0;
  font-weight: bold;
}

b,
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

address {
  font-style: normal;
}

/*汎用型*/
table {
  width: 100%;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table tbody tr th,
table tbody tr td {
  padding: 5px 3px;
  border-bottom: 1px solid rgba(242, 242, 242, 0.25);
}

figure {
  margin: 0;
  line-height: 0;
}

figcaption {
  line-height: 1.7;
}

dd {
  margin-left: 0;
}

/* iOSでのデフォルトスタイルをリセット */
input[type='submit'],
input[type='button'] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type='submit']::-webkit-search-decoration,
input[type='button']::-webkit-search-decoration {
  display: none;
}

input[type='submit']::focus,
input[type='button']::focus {
  outline-offset: -2px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #35469f;
}

a:hover img {
  opacity: 0.7;
}

.cover img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

/*******************************
  ローディング画面
*******************************/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #222d66;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
  display: none;
}

.loader.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.loader img {
  max-width: 30vw;
}

/*******************************
  コンテンツ幅
*******************************/
.container__min {
  max-width: 960px;
}

.container__large {
  max-width: 1440px;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*******************************
  nav
*******************************/

/*******************************
  header
*******************************/
/*******************************
  slider
*******************************/
/*******************************
  footer
*******************************/
.cm_totop {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 4;
}

.cm_totop a {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}

.cm_totop span {
  display: block;
  font-size: 16px;
  font-size: 1rem;
}

.sp__fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sp__fixed a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  border-left: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  padding: 0.8rem 0;
}

.sp__fixed a:first-child {
  border-left: none;
}

.sp__fixed .fas,
.sp__fixed .far,
.sp__fixed .fab {
  display: block;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}

/*******************************
  title
*******************************/
/*******************************
  size
*******************************/
/*******************************
  color
*******************************/
.color__theme {
  color: #222d66;
}

.color__sub {
  color: #f2f2f2;
}

.color__accent {
  color: #d31d4f;
}

.color__base {
  color: white;
}

.color__text {
  color: #000;
}

/*******************************
  btn
*******************************/
/*******************************
  table
*******************************/
/*******************************
  background
*******************************/
.bg__theme {
  background-color: #222d66;
}

.bg__sub {
  background-color: #f2f2f2;
}

.bg__accent {
  background-color: #d31d4f;
}

.bg__base {
  background-color: white;
}

.bg__text {
  background-color: #000;
}

/*******************************
  border
*******************************/
/*******************************
  map
*******************************/
.map iframe {
  display: block;
  width: 100%;
  height: 450px;
}

/*******************************
  single
*******************************/
.single__post-op {
  border-top: 1px solid rgba(242, 242, 242, 0.25);
  border-bottom: 1px solid rgba(242, 242, 242, 0.25);
  padding: 0.4rem 0;
}

.single__post-content h1,
.editor-area h1 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.single__post-content h2,
.editor-area h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.single__post-content h3,
.editor-area h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.single__post-content h4,
.editor-area h4 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.single__post-content h5,
.editor-area h5 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.single__post-content h6,
.editor-area h6 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.single__post-content h1,
.editor-area h1 {
  font-size: 32px;
  font-size: 2rem;
}

.single__post-content h2,
.editor-area h2 {
  font-size: 30px;
  font-size: 1.875rem;
}

.single__post-content h3,
.editor-area h3 {
  font-size: 26px;
  font-size: 1.625rem;
}

.single__post-content h4,
.editor-area h4 {
  font-size: 23px;
  font-size: 1.4375rem;
}

.single__post-content h5,
.editor-area h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

.single__post-content h6,
.editor-area h6 {
  font-size: 18px;
  font-size: 1.125rem;
}

.single__post-content ul,
.editor-area ul {
  padding: 1em;
}

.single__post-content ul li,
.editor-area ul li {
  list-style: disc;
}

.single__post-content ol,
.editor-area ol {
  padding: 1em;
}

.single__post-content ol li,
.editor-area ol li {
  list-style: decimal;
}

.single__post-content blockquote,
.editor-area blockquote {
  padding: 2em;
  background-color: rgba(34, 45, 102, 0.1);
  position: relative;
}

.single__post-content blockquote::before, .single__post-content blockquote::after,
.editor-area blockquote::before,
.editor-area blockquote::after {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1;
  position: absolute;
  color: gray;
}

.single__post-content blockquote::before,
.editor-area blockquote::before {
  content: '“';
  top: 0.2em;
  left: 0.2em;
}

.single__post-content blockquote::after,
.editor-area blockquote::after {
  content: '”';
  right: 0.2em;
  bottom: -0.4em;
}

/*******************************
  archive
*******************************/
.pagination ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pagination li {
  font-size: 16px;
  font-size: 1rem;
  margin-right: 0.6rem;
}

.pagination li.active {
  background-color: #222d66;
  color: white;
  padding: 0.3rem 0.7rem;
}

.pagination li a {
  display: block;
  color: #000;
  padding: 0.3rem 0.7rem;
}

/*******************************
  aside
*******************************/
.widget {
  margin-bottom: 3rem;
}

.widgettitle {
  background-color: #222d66;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-size: 1.125rem;
}

.widget ul > li a {
  display: block;
  padding: 0.3rem 0.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/*******************************
  lightbox
*******************************/
/*******************************
  form
*******************************/
.mw_wp_form tr:first-child th,
.mw_wp_form tr:first-child td {
  border-top: none;
}

.mw_wp_form th,
.mw_wp_form td {
  border-bottom: 1px solid rgba(148, 120, 56, 0.6);
  text-align: left;
  vertical-align: top;
  white-space: inherit;
  position: relative;
}

.mw_wp_form .required {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #000;
  background-color: #222d66;
  display: inline-block;
  margin-left: 1.5rem;
  padding: 0 0.6rem;
}

.mw_wp_form input[type='text'], .mw_wp_form input[type='email'], .mw_wp_form input[type='number'], .mw_wp_form input[type='tel'] {
  font-size: 16px;
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.3rem;
  max-width: 30em;
  background-color: white;
}

.mw_wp_form input:last-child {
  margin-bottom: 0;
}

.mw_wp_form select {
  font-size: 16px;
  padding: 0.4rem 0.6rem;
  display: inline-block;
  border-radius: 0;
}

.mw_wp_form textarea {
  font-size: 16px;
  padding: 0.4rem 0.6rem;
  width: 100%;
  max-width: 30em;
}

.mw_wp_form .error {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
  background-color: red;
  color: white !important;
  font-size: 10px;
  font-size: 0.625rem;
  display: inline-block;
  padding: 0.3rem 0 0.3rem 0.4rem;
  border-radius: 5px;
  -webkit-animation: float 2s ease 0s infinite;
  animation: float 2s ease 0s infinite;
}

.mw_wp_form .error::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: '';
  width: 14px;
  display: block;
  border-top: 5px solid red;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.mw_wp_form .submit,
.mw_wp_form .return {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 0.5rem 0.7rem;
}

.mw_wp_form .submit:focus,
.mw_wp_form .return:focus {
  outline: 0;
  border-color: #b0c5ff;
  /* 枠線の色を変更 */
}

.mw_wp_form .submit:hover,
.mw_wp_form .return:hover {
  cursor: pointer;
}

.mw_wp_form .submit {
  background-color: #222d66;
  color: #000;
}

.mw_wp_form .return {
  background-image: url("../assets/bg-pattern.png");
  background-color: #f2f2f2;
  color: #000;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

/*******************************
  accordion
*******************************/
.accordion__title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accordion__title::after {
  content: '\f078';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion__title:hover {
  cursor: pointer;
}

.accordion__title.open::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion__content {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: padding 0.36s, opacity 0.36s;
  transition: padding 0.36s, opacity 0.36s;
}

.accordion__content.is-open {
  padding: 0.6em 1em;
  line-height: normal;
  height: auto;
  opacity: 1;
}

/*******************************
  サイト固有
*******************************/
.module__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-delay: -1ms;
    animation-delay: -1ms;
    -webkit-animation-duration: 1ms;
    animation-duration: 1ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    background-attachment: initial;
    scroll-behavior: auto;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 811px) and (max-width: 1080px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 810px) {
  html {
    font-size: 13px;
  }
  .menu__btnwrap {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 6;
    text-align: center;
    background-color: rgba(34, 45, 102, 0.7);
    color: white;
    padding: 5px;
    line-height: 1.3;
  }
  .spmenu_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    width: 45px;
    height: 25px;
    margin-bottom: 5px;
  }
  .spmenu_btn:hover {
    cursor: pointer;
  }
  .spmenu_btn::before, .spmenu_btn::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
  }
  .spmenu_btn::before {
    left: 0px;
    top: 0px;
  }
  .spmenu_btn::after {
    left: 0px;
    bottom: 0px;
  }
  .spmenu_btn span {
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .spmenu_btnClose span {
    width: 0;
  }
  .spmenu_btnClose::before, .spmenu_btnClose::after {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 100%;
  }
  .spmenu_btnClose::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .spmenu_btnClose::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .globalNav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: -100vw;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 5;
    top: 0;
    background-color: white;
  }
  .globalNav_state {
    right: 0;
  }
  .globalNav .menu {
    width: 100%;
  }
  .globalNav .menu-item {
    width: 100%;
  }
  .globalNav .menu a {
    display: block;
    padding: 1em;
  }
  .globalNav .menu li {
    border-bottom: 1px solid rgba(242, 242, 242, 0.25);
  }
  .globalNav .menu-globalnav-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .mw_wp_form th,
  .mw_wp_form td {
    display: block;
    width: 100%;
  }
  .mw_wp_form input[type='text'], .mw_wp_form input[type='email'], .mw_wp_form input[type='number'], .mw_wp_form input[type='tel'] {
    width: 100%;
  }
  .mw_wp_form .mwform-tel-field input {
    width: 4em;
  }
}
@media screen and (max-width: 375px) {
  table tbody tr th,
  table tbody tr td {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 811px) {
  table tbody tr th {
    white-space: nowrap;
    padding-right: 2em;
  }
  .loader img {
    max-width: 10vw;
  }
  .mw_wp_form th {
    white-space: nowrap;
    width: 320px;
  }
  .mw_wp_form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0.6em 1.5em 0.6em 0.5em;
    background-image: -webkit-linear-gradient(45deg, transparent 50%, rgba(0, 0, 0, 0.4) 50%), -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0.4) 50%, transparent 50%);
    background-image: linear-gradient(45deg, transparent 50%, rgba(0, 0, 0, 0.4) 50%), linear-gradient(135deg, rgba(0, 0, 0, 0.4) 50%, transparent 50%);
    background-size: 5px 5px, 5px 5px;
    background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
    background-repeat: no-repeat;
  }
  .mw_wp_form select:focus {
    outline: 0;
    border-color: #b0c5ff;
    /* 枠線の色を変更 */
  }
  .mw_wp_form select::-ms-expand {
    display: none;
  }
}
